@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider-block {

  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider-block::before, .slider-block::after {
  
  height: 100%px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider-block::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider-block::before {
  left: 0;
  top: 0;
}
.slider-block .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider-block .slide-block {
  height: 100px;
  width: 250px;
}





.slider-block {
  background: transparent;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}




.slider-block::before, .slider-block::after {
  background: linear-gradient(to right, #F9FCFE 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}